* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

:root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --input: 240 3.7% 15.9%;
    --radius: 0.5rem;
    --success-color: #5eff52;
    --danger-color: #ff5252;
    --warning-color: #ffa952;
}

html {
    font-size: 16px;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100dvh;
    max-width: 100dvw;
    background-color: hsl(var(--background));
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: hsl(var(--foreground));
    padding-block: 1rem;
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
}

.background-blur {
    position: absolute;
    width: 350px;
    aspect-ratio: 1;
    z-index: -1;
    background-color: #b867f2;
    filter: blur(300px);
    opacity: 0.3;
    pointer-events: none;
}

header {
    width: clamp(6rem, 20rem, 30rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
}

a {
    text-decoration: none;
}

.none {
    display: none;
}

.animate-away {
    animation-duration: .5s;
    animation-name: slideaway;
}

@keyframes slideaway {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 100%;
        opacity: 0;
    }
}

.animate-in {
    animation-duration: .5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        opacity: 0;
    }

    to {
        margin-left: 0%;
        opacity: 100%;
    }
}

hr {
    width: clamp(6rem, 20rem, 30rem);
    border: .05px dotted hsl(var(--muted-foreground));
    opacity: 40%;
}

input,
button,
select {
    width: 100%;
    background-color: hsl(var(--input));
    border-radius: var(--radius);
    outline: none;
    border: none;
    padding: 0.7rem 1.2rem;
    font-size: .85em;
}

input {
    border: 1px solid hsl(var(--radius));
    color: hsl(var(--foreground));
}

select {
    background-color: hsl(var(--muted));
}

button {
    cursor: pointer;
    background-color: hsl(var(--foreground));
    width: fit-content;

    transition: background-color 300ms ease;
}

.btn:hover {
    background-color: hsl(var(--muted-foreground));
    color: hsl(var(--background));
}

.dark-btn {
    background-color: hsl(var(--muted));
    color: hsl(var(--muted-foreground));
}

.dark-btn:hover {
    color: hsl(var(--muted-foreground));
    background-color: hsl(var(--background));
}

.item {
    padding: 2rem;
    border-radius: var(--radius);
    cursor: default;
}

.items {
    border-collapse: collapse;
    border-spacing: 0;
    width: clamp(6rem, 20rem, 30rem);
    border-collapse: collapse;
    text-align: left;
    border-radius: var(--radius);
    font-size: 1em;
    overflow-y: scroll;
    display: none;
}

.items th,
.items td {
    padding: 10px;
    text-align: left;
    border-bottom: .1px solid hsl(var(--muted-foreground));
}

.items th {
    font-weight: 300;
    color: hsl(var(--muted-foreground));
}

.item-been-bought {
    color: var(--danger-color);
    font-size: 1.5em;
}

.item-been-bought-yes {
    color: var(--success-color);
}

main {
    height: 25rem;
    overflow-y: scroll;
}

nav {
    width: 60%;
    background-color: rgba(38, 38, 38, 0.359);
    backdrop-filter: blur(50px);
    border-radius: var(--radius);
    padding: 1rem;
    min-width: 20rem;
    display: flex;
    justify-content: space-between;
}

#logo {
    cursor: pointer;
    width: fit-content;
    color: hsl(var(--muted-foreground));
}

#pop-up-msg {
    position: absolute;
    display: none;
    bottom: 3rem;
    left: 50%;
    translate: -50% 0;
    background-color: hsl(var(--muted));
    color: hsl(var(--muted-foreground));
    padding: 0.7rem 1.2rem;
    border-radius: var(--radius);
    text-align: center;
}

.popup {
    animation: popup 500ms ease forwards;
}

.popdown {
    animation: popdown 500ms ease 700ms forwards;
}

@keyframes popup {
    from {
        bottom: -10%;
    }

    to {
        bottom: 3rem;
        display: block;
    }
}

@keyframes popdown {
    from {
        bottom: 3rem;
    }

    to {
        bottom: -10%;
        display: none;
    }
}

#menu {
    background-color: hsl(var(--background));
    color: hsl(var(--muted-foreground));
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    position: absolute;
    width: 7rem;
    height: 9rem;
    z-index: 99;
}

.menu-item {
    cursor: pointer;
    padding-block: 0.5rem;
    border-bottom: 1px solid rgba(107, 107, 107, 0.566);

    transition: color 300ms ease;
}

.menu-item:hover {
    color: color-mix(in lab, var(--danger-color), var(--success-color));
}
